time-tracker/.git
time-tracker/.gitignore
time-tracker/node_modules
time-tracker/.eslintrc.json
time-tracker/.prettierrc
time-tracker/.stylelintrc.json
time-tracker/setupJest.js
time-tracker/tsconfig.jest.json
time-tracker/jest.config.js
time-tracker/prisma
**/*.md
time-tracker/src/__tests__
time-tracker/**/*.test*
